.table-container {
    border-collapse: collapse;
    width: 100%;
    align-items: center;
    display: grid;
}

.table {
    margin: 0.4rem;
}

.table-fields-name {
    background-color: #54606c !important;
    color: white;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #abdc17;
}

.btn-group{
    display: flex;
    justify-content: space-around;
}

.btn-action {
    border-radius: 0.35rem;
    padding: 0.4rem;
    margin: 0.4rem;
    cursor: pointer;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}