.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #54606c;
    color: white;
    text-align: center;
    padding: 0.5rem;
}

.text{
    padding: 0.7rem;
}

.signature {
    color: white;
    text-decoration: none;
}